<%- include('../partials/header') %>
  <h3><%= skill.name %></h3>
  <ul>
    <li>
      <p>Proficiency: <%= skill.proficiency %></p>
    </li>
    <li>
      <p>Years of Experience: <%= skill.yearsOfExperience %></p>
    </li>
  </ul>

  <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
  <form
    action="/skills/<%= skill.id %>?_method=DELETE"
    method="POST"
    class="delete-form"
  >
    <button type="submit">X</button>
  </form>
<%- include('../partials/footer') %>

